<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  

	<property name="show_sql">true</property>
  	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  	<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ezeeappointer</property>
	<property name="hibernate.connection.autocommit">false</property>
 	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  	<property name="hibernate.connection.username">eappointer</property>
  	<property name="hibernate.connection.password">eappointer</property>
  
 <mapping class="com.ezeeappointer.data.BusinessUser"/>
 
 <mapping class="com.ezeeappointer.data.Business" />
<mapping class="com.ezeeappointer.data.Service" />
<mapping class="com.ezeeappointer.data.Staff" />
<mapping class="com.ezeeappointer.data.DayAndTime" />
<mapping class="com.ezeeappointer.data.ServiceAndStaffXREF" />
 
 <mapping class="com.ezeeappointer.data.Appointment"/>
 <mapping class="com.ezeeappointer.data.AppointeeUser"/>
 
 </session-factory>
</hibernate-configuration>
