<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  
<property name="connection.datasource">java:jboss/EzeeDS</property>
<property name="show_sql">true</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ezeeappointer</property>
  <property name="hibernate.connection.autocommit">false</property>
  <property name="hibernate.session_factory_name">jboss/SessionFactory</property>
  <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
  <property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
  <property name="hibernate.jndi.class">org.jboss.naming.NamingContextFactory</property>
 <property name="hibernate.transaction.auto_close_session">false</property>
  <property name="hibernate.transaction.flush_before_completion">true</property>
  <property name="jta.UserTransaction">java:comp/UserTransaction</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 
 
  <mapping class="com.ezeeappointer.data.BusinessUser"/>
 </session-factory>
</hibernate-configuration>
